<footer>
  <div class="container">

    <div class="row justify-content-center my-5">
      <div class="col-lg-6 border-top border-bottom border-danger py-2 borda text-center">
        <img src="../../assets/imagens/icone-duvida.png" alt="" class="float-left" >
        <p class="vertical-centro"><b class="text-danger">DÚVIDAS FREQUENTES.</b> Tudo que você precisar saber <u>está aqui</u></p>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-8">
        <p class="text-center h6 text-justify">Lorem ipsum hac condimentum suspendisse eros orci vel nibh varius potenti, arcu ac phasellus tristique dictum malesuada varius feugiat consequat ut, faucibus vehicula placerat risus scelerisque neque pulvinar odio velit. </p>
      </div>
    </div>
  </div>
</footer>
