<mat-drawer-container class="navbar navbar-light bg-white px-0" hasBackdrop="true">
  <mat-drawer #drawer mode="over" class="col-md-3 tamanho-menu py-3">
    <button class="navbar-toggler border-0" type="button" mat-raised-button (click)="drawer.toggle()">
      <span class="navbar-toggler-icon"></span>
      Menu
    </button>
    <ul class="nav flex-column ">
      <li class="nav-item">
        <a class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Regulamento</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Ganhadores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Fale Conosco</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Política de Privacidade</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Cadastro</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Faça seu login</a>
      </li>
    </ul>
  </mat-drawer>

  <nav class="navbar navbar-light bg-white container">
    <button class="navbar-toggler border-0" type="button" mat-raised-button (click)="drawer.toggle()">
      <span class="navbar-toggler-icon"></span>
      Menu
    </button>

    <img src="../assets/imagens/logo-rpm.png" alt="" height="30px" class="mx-auto logo-local">
  </nav>

  <router-outlet></router-outlet>

  <app-footer></app-footer>

</mat-drawer-container>

